<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add cat - RaceKatteKlubben</title>
    <link rel="stylesheet" href="/styleSheet.css">
</head>
<body>
<div class="topbar">
    <a href="/cat"><button>Back to Cats</button></a>
</div>

<div class="content">
    <div class="item">
        <h1>Tilføj Kat</h1>
        <form action="/createUser" method="POST">
            <p for="name">Navn:</p>
            <input type="text" id="name" name="name" placeholder="Indtast nyt navn" required>
            <br>
            <p for="email">Email:</p>
            <input type="email" id="email" name="email" placeholder="Indtast Email" required>
            <br>
            <p for="password">Password:</p>
            <input type="text" id="password" name="password" placeholder="Indtast password" required>
            <br>
            <button type="submit">Gem Ændringer</button>
        </form>
    </div>
</div>
</body>
</html>